.a1{
    font-family: 'Roboto', sans-serif;
    width: 500px;
    z-index: 100;
    background-color: #ffe1f5;
    border-radius: 10px;
    margin-left: 50px;
    padding: 20px 0 20px 20px;
    font-weight: bold;
    float: left;
    margin-right: 50px;
}

@media (max-width: 800px) {
    .a1{
    width: 300px;
    color: darkblue;
    }
}


@font-face {
    font-family: 'Roboto', sans-serif;

}
@font-face {
    font-family: 'Coiny', cursive;
    src: url("../assets/fonts/Coiny-Regular.ttf");
}

h1{
    text-align: center;
    z-index: 1000;
}

.background{
    position: fixed;
    z-index: -1;
    top: 0px;
}

.cities{
    text-align: center;
    vertical-align: center;
    border-spacing: 30px;
    background-color: #ffe1f5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 50;
    margin-top: 18px;

}
caption{
    font-weight: bold;
    background-color: #ffe1f5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 18px;
}

.a2 {
    font-family: 'Coiny', cursive;
    position: absolute;
    width: 500px;
    z-index: 100;
    background-color: #ffe1f5;
    border-radius: 10px;
    margin-left: 50px;
    padding: 20px 0 20px 20px;
    font-weight: bold;
    float: left;
    margin-right: 50px;
    top: 300px;
}

/*.img{
    background-image: url("https://raw.githubusercontent.com/DRBrights/Repeat/master/simple-lights-twitter-background.jpg");
}*/